body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 40px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 28px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-bottom: 8px;
  font-weight: 400;
}

h2 {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 800;
}
